header {
    background-color: black;
    font-size: large;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: purple;
}

body {
    font-family: cursive;
    margin: 10;
    padding: 20;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}